$color-base: rgb(253, 0, 0);
$color-accent: rgb(101, 0, 0);
$color-warning: rgb(255, 191, 205);
$font-primary: arial;
$font-secondary: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$box-shadow: -10px 10px 5px black;
$border-radius: 1px;