$color-base: rgb(0, 0, 255);
$color-accent: rgb(0, 0, 102);
$color-warning: rgb(0, 255, 255);
$font-primary: 'Times New Roman', Times, serif;
$font-secondary: Georgia, 'Times New Roman', Times, serif;
$box-shadow: 10px 10px 5px black;
$border-radius: 7px;