body {
  font-family: var(--font-body);
  font-size: var(--fs-xs);
  color: var(--color-pure-white);
  padding: var(--space-md) var(--space-lg);
  animation-name: page;
  animation-duration: 1s;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-app);  
}

main {
  padding: var(--space-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  color: var(--text-90);
}

section {
  display: flex;
  padding-bottom: var(--space-xs);
}


