@custom-media --mobile-screen (width < 480px);
@custom-media --tablet-screen (width < 768px);
@custom-media --laptop-screen (width < 1024px);
@custom-media --mobile-tablet-screen (width < 1280px);
@custom-media --desktop-screen (width < 1440px);
@custom-media --widescreen (width > 1441px);


