$color-primary: rgb(0, 106, 123);
$color-secondary: rgb(47, 72, 88);
$color-text-light: #fff;
$color-text-dark: #000;

$font-base: Arial, Helvetica, sans-serif;

body {
  font-family: $font-base;
  color: $color-text-dark;
}

h1 {
  font-size: 1.5rem;
}

.nav {
  background-color: $color-primary;
  color: $color-text-light;
  display: flex;
  justify-content: space-between;
  min-width: 320px;

  &__link {
    padding: 20px;
    color: inherit;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: $color-secondary;
    }
  }
}

@media (max-width: 375px) {
  .nav {
    flex-direction: column;

    &__link {
      text-align: center;
    }
  }
}
