.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  padding-bottom: var(--space-2xl);
  top: 0;
  z-index: 1000;
  background-color: var(--bg-app);

  &__logo {
    display: flex;
    align-items: center;
    gap: var(--space-md);

    img {
      width: 100px;
      height: auto;
    }
  }

  &__title {
    font-size: var(--fs-lg);
    @media (--laptop-screen) {
      display: none;
    }
  }

  &__buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: var(--space-sm);

    @media (--mobile-screen) {
      justify-content: center;
    }
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: var(--radius-sm);
    transition: color 0.7s ease, background-color 0.7s ease;
    padding: var(--space-md) var(--space-md);
    font-size: var(--fs-sm);

    &:hover {
      background: var(--color-neutral-100);
      color: var(--text-contrast);
    }
  }
}
